ul a.active {
    color: #23BE0A;
    border: 2px solid #23BE0A;


    border-radius: 8px;



}

ul a.active:hover {
    background-color: #23BE0A;
    color: white;
    font-weight: 600;
}

ul a:hover {
    background-color: #23BE0A66;
    border-radius: 8px;

}